h1 {
   font-family: "Libre Baskerville";
   color: white;
}
 
img {
    height: 500px;
    width: 100%;
    border: 5px solid white;
}

body {
    background-color: black;
}

div {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    text-transform: uppercase;
}
h2 {
    text-transform: lowercase;
    color: white;
}